<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user.age %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= user.kind %>
  </p>

  <p id='favorite_teachers'>
    <strong>Favorite Teachers:</strong>
      <%= user.favorite_teachers.pluck(:name).join(', ') if user.favorite_teachers.present? %>
  </p>

  <p id='classmates'>
    <strong>Class Mates:</strong>
    <% classmates = user.classmates.where.not(id: user.id) %>
    <%= classmates.pluck(:name).join(', ') if classmates.exists? %>
  </p>

</div>
